@model Web_Dev3.Models.TodoModel

@{
    ViewBag.Title = "Hinzufügen";
}

<h2>Hinzufügen</h2>
<div class="row">
<div class="col-md-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Titel, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Titel, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(model => model.Titel, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        </div>
                    <div class="panel-footer">
                        <div class="form-actions no-color">
                           <input type="submit" value="&#x2714; Erstellen" class="btn btn-primary btn-md" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
