@model Web_Dev3.Models.TodoModel

@{
    ViewBag.Title = "Bearbeiten";
}

<h2>@Model.Titel - Bearbeiten</h2>

<div class="row">
<div class="col-md-4">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-body" style="padding-top: 10px">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "max-width: 330px;" })
                    <div class="row">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Titel, htmlAttributes: new { @class = "control-label", @style = "max-width: 330px;" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Titel, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 330px;" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationMessageFor(model => model.Titel, "", new { @class = "text-danger", @style = "max-width: 330px;" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label", @style = "max-width: 330px;" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 330px; border-radius: 10px; " } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "max-width: 330px;" })
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.Id)
                </div>
                <div class="panel-footer">
                    <div class="form-actions no-color">
                        <button type="submit" class="btn btn-primary btn-md">
                            <i class="glyphicon glyphicon-ok"></i> Speichern
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
</div>